
body{
  background: url("../img/newsletterBackground.jpg");
  background-size: 120%;
  background-position: left center;

  font-family: Arial, Helvetica, sans-serif;
}


main{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 50px;
}

.previousNewsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 3vh;

  background-color: #f4f4f499;
  

  padding: 0 20px 25px 20px;

}

h1{
  font-size: 2.8rem;
  margin:15px 0px;
}

h2{
  font-size: 1.8rem;
  margin-bottom: 10px;
}

article{
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 15px;
}

.signUpFormSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: #f4f4f499;
  padding: 0 20px;

}

.disclaimer{
  font-style: italic;
  font-size: 1.2rem;
  margin-top: -10px;
  margin-bottom: 50px;
}

.signUpForm{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formWrapper{
  display: flex;
  flex-direction:column;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
  font-size: 1.4rem;
}

.nameForm, .emailPhone, .password{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.terms{
  font-size: 1.5rem; 
  margin: 35px;
  align-self: flex-start;
}

button[type="submit"]{
  font-size: 1.6rem;
  padding: 12px;
  width: 25%;
  border-radius: 20%;
  background-color: orange;
  margin-bottom: 30px;
}

label{
  width: 200px;
}


@media (min-width: 801px) and (max-width: 1450px){

  body{
    background: url("../img/newsletterBackground.jpg");
    background-size: cover;

  }
  
  main{
    width: 90%;
  }
  
  .previousNewsletter, .signUpFormSection{
    width: 100%;
  }
}


@media (max-width: 800px){

  body{
    background: url("../img/newsletterBackground.jpg");
    background-size: cover;

  }

  main{
    width: 98%;
  }


  .previousNewsletter, .signUpFormSection{
    width: 100%;
  }

  h1{
    font-size: 24px;
  }

  h2{
    font-size: 20px;
    font-weight: bold;
  }

  article{
    font-size: 19px;
  }

  .formWrapper{
    display: flex;
    flex-direction:column;
    gap: 0px;
    justify-content: space-around;
    width: 100%;
    font-size: 1.2rem;
  }

  input[type="email"],
  input[type="text"],
  input[type="tel"],
  input[type="password"] {
    width: 200px;
    margin-bottom: 10px;
  }

  .nameForm, .emailPhone, .password{
    display:flex;
    flex-direction: column;
  }

  button[type="submit"]{
    font-size: 1.3rem;
    padding: 12px;
    width: 35%;
    border-radius: 20%;
    background-color: orange;
    margin-bottom: 30px;
    align-self: center;
  }


  .terms{
    font-size: 1rem; 
    margin: 35px;
    align-self: flex-start;
  }
}
/* 
}


}




  justify-content: space-around;
  align-items: flex-start;
  padding-left: 50px;
}

label{
  width: 50%;
}






input[type="email"],
input[type="text"],
input[type="tel"],
input[type="password"] {
  width: 200px;
  margin-bottom: 10px;
} */